html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    font-family: serif;
    font-size: 15px;
    color: white;
    background-color: #ebebeb;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}


h1,
h2,
h3,
a,
p,
div,
span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main {
    width: 80vw;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
}

.text-content {
    font-size: 1.2em;
    scroll-margin-top: 10px;
}

header {
    font-size: 1.3em;
    padding: 20px;
    color: white;
    animation: backgroundheader 10s infinite;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2em;
    flex-direction: column;
    position: static;
    top: 0;
    z-index: 1;
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
}

header h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
    margin-left: 10px;
    margin-top: 40px;
    animation: title 10s infinite;
}

@media (min-width: 950px) {

    /** header tietel */
    header h1 {
        display: flex;
        margin-top: 34px;
        align-items: center;
        flex-direction: column;
        font-size: 1.5em;
    }
}


.logo {
    margin: 0;
    text-align: center;
    filter: drop-shadow(1px 1px 10px black);
}

.logo img {
    width: 100px;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav a {
    padding: 0px;
    text-decoration: none;
}

@media (min-width: 700px) {

    /** nav naast elkaar en niet onder elkaar, witrand om de website heen */
    header {
        flex-direction: row;
        position: sticky;
        top: 0;
        z-index: 1;
        box-shadow: 0px 8px 10px 0px rgb(0, 0, 0);
    }

    nav {
        flex-direction: row;
    }

    .logo {
        text-align: left;
    }

    body {
        border-left: 5vw solid white;
        border-right: 5vw solid white;
        border-top: 10px solid white;
        border-bottom: 10px solid white;
    }

    .text-content {
        scroll-margin-top: 145px;
    }

}

@keyframes backgroundheader {
    0% {
        background-color: #0e6380;
    }

    30% {
        background-color: #118AB2;
    }

    80% {
        background-color: #0e6380;
    }

    100% {
        background-color: #0e6380;
    }
}


@keyframes title {
    0% {
        text-shadow: 2px 10px 10px black;
    }

    50% {
        text-shadow: 5px 15px 20px black;
    }

    100% {
        text-shadow: 2px 10px 10px black;
    }
}

#whoami {
    animation: backgroundme 10s infinite;
    padding: 1em;
    border-radius: 10px;
    margin: 1em 0;
    color: #fff;
}

#whoami h1 {
    text-shadow: 3px 3px 1px rgb(83, 119, 202);
}

@keyframes backgroundme {
    0% {
        background-color: #FFD166;
    }

    50% {
        background-color: rgb(202, 166, 83);
    }

    100% {
        background-color: #FFD166;
    }
}

ul.intrests {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: circle;
    list-style-position: inside;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 300px;
    border-radius: 7px;
}

#projects {
    animation: backgroundprojects 10s infinite;
    padding: 1em;
    border-radius: 10px;
    margin: 1em 0;
    color: #fff;
}

#projects h1 {
    text-shadow: 3px 3px 1px #a5042f;
}


@keyframes backgroundprojects {
    0% {
        background-color: #06D6A0;
    }

    30% {
        background-color: #04a57a;
    }

    80% {
        background-color: #06D6A0;
    }

    100% {
        background-color: #06D6A0;
    }
}



.slider {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    flex-wrap: nowrap;
    flex-flow: nowrap;
    margin-left: 0px;

}

.card {
    flex: 0 1 30vw;
}

.card .title {
    background-color: #a5042f;
    text-align: center;
    padding: 10px;
}

.subtext {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#slidercontent {
    width: 300px;
    height: 40vh;
    align-items: center;
    background-color: black;
}

.vl {
    border-left: 6px solid rgb(255, 255, 255);
    height: 520px;
}

/* DESKTOP */
@media (min-width: 700px) {
    .slider {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
        margin-left: 3vw;
    }

    #slidercontent {
        flex-grow: 1;
        flex-wrap: wrap;
        overflow: hidden;
        object-fit: cover;
        width: 70vw;

    }

    .vl {
        display: none;
    }
}

#abilities {
    animation: backgroundabilities 10s infinite;
    padding: 1em;
    border-radius: 10px;
    margin: 1em 0;
    color: #fff;
}

#abilities h1 {
    text-shadow: 3px 3px 1px #36b597;
}

table,
td {
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.299);
    border-radius: 7px;

}

@media (min-width: 400px) {

    table,
    td {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        border-radius: 7px;
        border: 1px solid;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgba(0, 0, 0, 0.299);
    }
}

@keyframes backgroundabilities {
    0% {
        background-color: #b53654;
    }

    50% {
        background-color: #EF476F;
    }

    100% {
        background-color: #b53654;
    }
}

#contact {
    animation: backgroundcontact 10s infinite;
    padding: 1em;
    border-radius: 10px;
    margin: 1em 0;
    color: #fff;
}

#contact h1 {
    text-shadow: 3px 3px 1px #3f9009;
}


@keyframes backgroundcontact {
    0% {
        background-color: #5a0990;
    }

    10% {
        background-color: #7209b7;
    }

    60% {
        background-color: #5a0990;
    }

    100% {
        background-color: #5a0990;
    }
}



footer {
    margin-top: 20px;
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
    color: white;
    animation: backgroundheader 10s infinite;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
}

@media (min-width:700px) {
    footer {
        box-shadow: 0px -8px 10px 0px rgb(0, 0, 0);
    }

}

.menu-link {
    padding: 2vw;
    color: white;
}

.normallink {
    color: white;
}


.menu-link:hover {
    animation: title 10s ease-in;
    background: linear-gradient(to left, #ffffff, #d5d5d5 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
    padding: 2vw;
}

.normallink:hover {
    background-color: rgba(0, 0, 0, 0.379);
}



.image {
    border-radius: 8px;
    width: 400px;
    height: 400px;
    filter: contrast(8);
}